<a href="#" class="pull-left">
  {{gravatar-img height="80px" width="80px" email=email class="media-object" }}
</a>
<div class="media-body">
  <h4 class="media-heading">{{username}}</h4>
  {{yield}}
</div>