<a href="#" class="pull-left">
  <img src="http://gravatar.com/avatar/230fac043f2eeb97318795804b5a203d" width="80px" height="80px" class="media-object" />
</a>
<div class="media-body">
  <h4 class="media-heading">{{username}}</h4>
  {{yield}}
</div>