<div class="col-md-12">
	<div class="row">
    <div class="col-md-4">
      <h2>Recent Workouts</h2>
      {{#each}}
        {{#avatar-list-item username=user.name}}
          {{activity.name}} for {{duration}} minutes.<br />
          {{link-to date 'workouts' id}}
        {{/avatar-list-item}}
      {{/each}}
    </div>

    <div class="col-md-4">
      <h2>On Track This Week</h2>
      {{#avatar-list-item username="raytiley"}}
        Ray is on track.
      {{/avatar-list-item}}
    </div>


    <div class="col-md-4">
      <h2>Longest Streaks</h2>
      {{#avatar-list-item username="raytiley"}}
        Ray is on a 5 day streak.
      {{/avatar-list-item}}
    </div>
  </div>
</div>