<div class="col-md-12">
	<div class="row">
    <div class="col-md-4">
      <h2>Recent Workouts</h2>
        {{#avatar-list-item username="raytiley"}}
          Ray walked for 33 minutes.<br />
          <a href="#">
            10 minutes ago
          </a>
        {{/avatar-list-item}}

        {{#avatar-list-item username="raytiley"}}
          Ray walked for 33 minutes.<br />
          <a href="#">
            yesterday
          </a>
        {{/avatar-list-item}}

        {{#avatar-list-item username="raytiley"}}
          Ray walked for 33 minutes.<br />
          <a href="#">
            2 days ago
          </a>
        {{/avatar-list-item}}

        {{#avatar-list-item username="raytiley"}}
          Ray walked for 33 minutes.<br />
          <a href="#">
            3 days ago
          </a>
        {{/avatar-list-item}}
    </div>

    <div class="col-md-4">
      <h2>On Track This Week</h2>
      {{#avatar-list-item username="raytiley"}}
        Ray is on track.
      {{/avatar-list-item}}
    </div>


    <div class="col-md-4">
      <h2>Longest Streaks</h2>
      {{#avatar-list-item username="raytiley"}}
        Ray is on a 5 day streak.
      {{/avatar-list-item}}
    </div>
  </div>
</div>