<div class="row">
  <div class="col-md-6">
	 TODO picture
  </div>
  <div class="col-md-6">
  	<h2>Ray Tiley</h2>
  	<p>
  		Put some info here about user's favorite activites.
  	</p>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h2>Ray's Recent Activites</h2>
  	<div class="media">
	    <a href="#" class="pull-left">
	      <img src="http://gravatar.com/avatar/230fac043f2eeb97318795804b5a203d" width="80px" height="80px" class="media-object" />
	    </a>
	    <div class="media-body">
	      <h4 class="media-heading">raytiley</h4>
	      Ray walked for 33 minutes.<br />
	      <a href="#">
	        10 minutes ago
	      </a>
	    </div>
	  </div>

	  <div class="media">
	    <a href="#" class="pull-left">
	      <img src="http://gravatar.com/avatar/230fac043f2eeb97318795804b5a203d" width="80px" height="80px" class="media-object" />
	    </a>
	    <div class="media-body">
	      <h4 class="media-heading">raytiley</h4>
	      Ray played frisbee for 10 minutes.<br />
	      <a href="#">
	        yesterday
	      </a>
	    </div>
	  </div>

	  <div class="media">
	    <a href="#" class="pull-left">
	      <img src="http://gravatar.com/avatar/230fac043f2eeb97318795804b5a203d" width="80px" height="80px" class="media-object" />
	    </a>
	    <div class="media-body">
	      <h4 class="media-heading">raytiley</h4>
	      Ray did pullups for 10 minutes.<br />
	      <a href="#">
	        3 days ago
	      </a>
	    </div>
	  </div>

	  <div class="media">
	    <a href="#" class="pull-left">
	      <img src="http://gravatar.com/avatar/230fac043f2eeb97318795804b5a203d" width="80px" height="80px" class="media-object" />
	    </a>
	    <div class="media-body">
	      <h4 class="media-heading">raytiley</h4>
	      Ray walked for 20 minutes.<br />
	      <a href="#">
	        4 days ago.
	      </a>
	    </div>
	  </div>
  </div>
  <div class="col-md-6">
    TODO put a graph here.
  </div>
</div>